body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: Arial, sans-serif;
}

.signature-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #DDD;
    padding: 10px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.signature-image {
    margin-right: 5px;  /* Add space between image and text */
    margin-left: 5px;
}

.signature-image img {
    border: 0;
    height: 200px;
    width: 200px;
}

.signature-info {
    padding-left: 15px;
    line-height: 1.5;
}

.signature-name {
    font-size: 11pt;
    font-weight: bold;
    color: #333;
}

.signature-position, .signature-organization {
    font-size: 10pt;
    font-weight: bold;
    color: #666;
}

.signature-tagline {
    font-size: 9pt;
    font-style: italic;
    color: #333;
}

.signature-address, .signature-contact, .signature-links {
    font-size: 9pt;
    color: #333;
}

.signature-links a {
    color: #1a0dab;
    text-decoration: none;
}

.signature-links a:hover {
    text-decoration: underline;
}

.signature-social img {
    border: none;
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.signature-social a {
    display: inline-block;
    margin-right: 5px;
}
